<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Domine" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Eat da Burger!</title>
</head>

<body>
	<!-- Grid container -->
	<div class="container">

		<!-- Header -->
		<div class="row lead">
			<div class="col-xs-12">
				<h1>Eat-Da-Burger!</h1>
				<h3>To devour, or not to devour. That is the question.</h3>
			</div>
		</div>
		<hr>
		 {{{ body }}}
	</div>

	<!-- Sticky footer -->
	<footer class="footer">
		<div class="container">
			Copyright &copy; Scott Johnson
		</div>
	</footer>

	<!-- Link to JavaScript files -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</body>

</html>